@model IEnumerable<GestorContratos.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.UsuarioId"title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.UsuarioId"title="Detalhar"><i class="fas fa-file-alt mr-2"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.UsuarioId"title="Apagar"><i class="fas fa-trash mr-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
