@model GestorContratos.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeGestora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeGestora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contratante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contratante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contratada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contratada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessoSei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessoSei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkPublico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkPublico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAssinatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAssinatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocoloDiof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocoloDiof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"  class="btn btn-success" asp-route-id="@Model?.ContratoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
