@model IEnumerable<GestorContratos.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" title="Adicionar Novo"><i class="fa-regular fa-square-plus ml-2"></i> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeGestora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contratante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contratada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigencia)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.ProcessoSei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeGestora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contratante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contratada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vigencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessoSei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ContratoId" title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.ContratoId" title="Detalhar"><i class="fas fa-file-alt mr-2"></i></a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ContratoId" title="Apagar"><i class="fas fa-trash mr-2"></i></a>

                </div>
            </td>

        </tr>
}
    </tbody>
</table>
