@model GestorContratos.Models.PessoasPortaria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PessoasPortaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPortaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPortaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncaoPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncaoPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portaria.PortariaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.ResolucaoId"title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
    <a asp-action="Index">Back to List</a>
</div>
