@model IEnumerable<GestorContratos.Models.PagamentosTipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaEmpenho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaEmpenho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.ContratoId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.PagamentosTipo1"title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.PagamentosTipo1"title="Detalhar"><i class="fas fa-file-alt mr-2"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PagamentosTipo1"title="Apagar"><i class="fas fa-trash mr-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
